.navbar-brand {
    width: 100%;
    max-width: 600px; /* 400px */
}

.navbar-brand img {
    width: 100%;
    height: auto;
}

@media (max-width: 1200px) {
    .navbar-brand {
        max-width: 500px; /*  */
    }
}

@media (max-width: 992px) {
    .navbar-brand {
        max-width: 400px; /* 300px */
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        max-width: 350px; /* 250px */
    }
}

@media (max-width: 576px) {
    .navbar-brand {
        max-width: 300px; /* 200px */
    }
}

.navbar-toggler {
    padding: 0.25rem 0.5rem; /*  */
    font-size: 1rem; /* */
}

.navbar-toggler-icon {
    width: 1em; /*  */
    height: 1em; /*  */
}