.navbar-brand {
    width: 100%;
    max-width: 400px;
}

.navbar-brand img {
    width: 100%;
    height: auto;
}

@media (max-width: 992px) {
    .navbar-brand {
        max-width: 300px;
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        max-width: 250px;
    }
}

@media (max-width: 576px) {
    .navbar-brand {
        max-width: 200px;
    }
}